body {
    background: teal;
    display: flex;
    justify-content: center;
    height: 90vh;
}

#wrapper {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#centerContent {
    background: beige;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    border-radius: 20px;
}

#gameHeader {
    
}

#gameWrapper {
    display: flex; 
    justify-content: space-between;
    align-items: center;
}

#gameBoardWrapper {
    position: relative;
}

#gameOverlay {
    display: none;
    position: absolute;
    height: 100%;
    width: 100%;
    background: #808080de;
    z-index: 1;
    justify-content: center;
    align-items: center;
}

#overlayWrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 180px;
}

#gameBoard {
    background: white;
    display: grid;
    grid-gap: 3px;
    margin: 20px;
}

#gameAside {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 20px;
    height: 200px;
}

#cursorOptions {
    /* width: 100px;
    height: 200px;
    background: green; */
}

#scoreboard {
    /* width: 100px;
    height: 200px;
    background: purple; */
}

#gameHeader h1 {
    font-family: sans-serif;
    line-height: 50%;
}

.mineGrid {
    width: 100%;
    height: 100%;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    background: white;
    position: relative;
}

.gridCover {
    background: grey;
    position: absolute;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hidden:hover {
    box-shadow: 0 0 3px 0 black;
}

.mineGrid p {
    text-align: center;
    font-family: sans-serif;
    font-size: 12px;
}

.mineSqr {
    display: flex;
    justify-content: center;
    align-items: center;
}

.flag, .mine {
    height: 95%;
}

.buttons {
    display: none;
    justify-content: center;
}

#gameOverlay p {
    text-align: center;
    font-family: sans-serif;
    font-weight: normal;
    font-size: 24px;
    border-radius: 10px;
    margin: 0;
    padding: 5px;
    background: white;
}

#gameReport {
    display: none;
}

#difficulty {
    display: none;
}

#play {
    display: none;
}

#gameAside p {
    text-align: center;
}

#scoreboardDiv {
    border-top: 1px solid black;
}

#scoreboard {
    padding-left: 15px;
}

#difficultyButtons {
    width: 180px;
    display: flex;
    justify-content: space-between;
}

#playButtons {
    width: 100px;
    display: none;
    justify-content: space-between;
}

.button {
    font-family: sans-serif;
    border-radius: .15em;
    font-weight: 400;
    background: lightblue;
    box-shadow:inset 0 -0.6em 0 -0.35em rgba(0,0,0,0.17);
    cursor: pointer;
    padding: .40em;
}

.button:hover {
    background: darkblue;
    box-shadow:inset 0 -0.6em 0 -0.35em #ffffffab;
    color: white;
}