/* http://paletton.com/#uid=73l0u0kllllaFw0g0qFqFg0w0aF */
/* http://paletton.com/#uid=7000u0kuUpglmvHrjuaz-kHHTfu */
/* red shades: 
 - #C90707
 - #7B0000 - dark

 orange shades:
 - #C95F07
 - #FDA154 - light
 
 green shades:
 - #06A106

 blue shades: 
 - #047979
 - #329898 - light
 
 */

body {
    background: #329898;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding-top: 25px;
    height: 90vh;
}

#centerContent {
    background: #7B0000;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    border-radius: 20px;
}

#gameHeader {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    width: 100%;
    border-bottom: 2px solid white;
    margin: 10px;
}

#gameWrapper {
    display: flex; 
    justify-content: flex-start;
    align-items: center;
}

#gameBoardWrapper {
    position: relative;
    padding: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#gameOverlay {
    display: none;
    position: absolute;
    height: 100%;
    width: 100%;
    background-size: auto 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-color: #757575d7;
    z-index: 1;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
}

#overlayWrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 180px;
}

#gameBoard {
    position: relative;
    display: grid;
    grid-gap: 3px;
    padding: 15px;
    background: grey;
    border-radius: 20px;
}

#gameAside {
    display: flex;
    justify-content: center;
}

#scoreboardWrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 200px;
}

.mineGrid,.gridCover {
    width: 100%;
    height: 100%;
    border: .5px solid black;
    border-radius: 2px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.mineGrid {
    background: white;
    position: relative;
}

.gridCover {
    background: #FDA154;
    position: absolute;
    cursor: pointer;
}

.hidden:hover {
    box-shadow: 0 0 3px 0 black;
}

.mineGrid p {
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: 100%;
}

.mineSqr {
    display: flex;
    justify-content: center;
    align-items: center;
}

.flag, .mine {
    height: 95%;
}

.buttons {
    display: none;
    justify-content: center;
}

#gameOverlay p {
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-weight: normal;
    font-size: 24px;
    border-radius: 10px;
    margin: 0;
    padding: 5px;
    background: white;
}

#gameReport {
    display: none;
}

#difficulty {
    display: none;
}

#play {
    display: none;
}

#scoreboardWrapper p {
    text-align: center;
    font-size: 18px;
    margin: 5px;
}

#scoreboardDiv {
    display: none;
    margin: 10px;
}

#line {
    width: 85%;
    border-top: 1px solid white;
}

#currentScoreDiv {
    display: none;
    margin: 10px;
}

#scoreboard {
    padding-left: 15px;
}

#difficultyButtons {
    max-width: 250px;
    width: 95%;
    display: flex;
    justify-content: space-between;
}

#playButtons {
    width: 100px;
    display: none;
    justify-content: space-between;
}

.button {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    border-radius: 6px;
    font-weight: 400;
    background: #329898;
    box-shadow: 0 0 5px 0 #004A4A;
    cursor: pointer;
    padding: 5px;
}

.button:hover {
    box-shadow: 0 0 5px 0 #004A4A inset;
}


#gameHeader img {
    height: 1.5em;
    background: none;
    margin: 0 20px;
}

#gameHeader p {
    font-family: 'Roboto', sans-serif;
    font-weight: 800;
    color: white;
    margin: 0;
}

#title {
    font-size: 36px;
    text-align: left;
}

#timer {
    font-size: 26px;
    text-align: right;
}

#instructions * {
    color: white;
}

#gameAside * {
    color: white;
}

#scoreboardSlide {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 200px;
    align-items: center;
    padding: 10px;
    border: 1px solid #00000000;
}

#scoreboardSlide .slideText {
    transform: rotate(-90deg);
}

.slideText {
    font-family: 'Roboto', sans-serif;
    font-size: 24px;
    color: white;
}

#scoreboardSlide:hover, #instructionsSlide:hover{
    border: 1px solid white;
    color: black;
    border-radius: 10px;
    cursor: pointer;
}

.triangle {
    height: 20px;
}

#scoreboardSlide .triangle { 
    transform: rotate(90deg);
}

#instructionsSlide {
    display: flex; 
    justify-content: space-between;
    align-items: center;
    width: 220px;
    height: 30px;
    padding: 10px;
    border: 1px solid #00000000;
}

#instructionsSlide .triangle {
    transform: rotate(180deg);
}

#instructions {
    display: none;
}